{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'lootbox_content.css' %}"/>
{% endblock %}

{% block title %}
    {{ lootbox.lootbox_name }}
{% endblock %}

{% block content %}

    <div class="lootbox-content-container">
        {% comment %} <button class = "btn btn-primary" style="align-self: end; width: 10em; height:3em">Go Back</button> {% endcomment %}

        <div class="lootbox-upper-container">
            <div class="lootbox-image-container">
                {% if lootbox.image %}
                    <img src="{{ lootbox.image.url }}" alt="lootbox image" class="lootbox-image">
                {% endif %}
            </div>

            <div class="lootbox-info-container">
                <h2> Featured Pets: </h2>
                <div class="lootbox-featured-container">
                    {% for pet in lootbox_drop_table|slice:":4" %}
                        <div class="lootbox-featured-item">
                            <div class="pet-info">
                                <span style="font-size:0.7em;font-weight:light;">{{ pet.get_rarity_display }}</span>
                                <span style="font-weight:bold;font-size:1em;">{{ pet.pet_species }}</span>
                            </div>
                            <div class="{{ pet.get_rarity_display|lower }}">★</div>
                            <div class = "pet-photo">
                                <img src="{{ pet.pet_image.url }}" alt="Pet Photo">
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="lootbox-interactions-container">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dropTableModal">
                        View List
                    </button>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userHistoryTableModal">
                        View Pull History
                    </button>

                    <div class="pull-btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked data-credit="${{ lootbox.rate_cost }}" data-rolls="1">
                        <label class="btn btn-secondary" for="option1">x1</label>

                        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" data-credit="${{ lootbox.get_10_cost }}" data-rolls="10">
                        <label class="btn btn-secondary" for="option2">x10</label>
            
                        <button type="button" id="credit-value" class="btn btn-danger" style="width: 10em;">Start ${{ lootbox.rate_cost }}</button>
                    </div>

                    <!-- List Modal -->
                    <div class="modal fade" id="dropTableModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Drop Table</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Pet Picture</th>
                                                    <th scope="col">Pet Name</th>
                                                    <th scope="col">Rarity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in lootbox_drop_table %}
                                                <tr>
                                                    <td><img src="{{ item.pet_image.url }}" alt="Pet Photo" class="img-thumbnail" style="width: 50px; height: 50px;"></td>
                                                    <td>{{ item.pet_species }}</td>
                                                    <td>{{ item.get_rarity_display }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User History Modal -->
                    <div class="modal fade" id="userHistoryTableModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">User Lootbox History</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="background-color: #07092E;">
                                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Pet Picture</th>
                                                    <th scope="col">Pet Name</th>
                                                    <th scope="col">Rarity</th>
                                                    <th scope="col">Date Rolled</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pull in user_lootbox_history %}
                                                    {% for pull_pet in pull.pullpet_set.all %}
                                                        <tr>
                                                            <td><img src="{{ pull_pet.pet_id.pet_image.url }}" alt="Pet Photo" class="img-thumbnail" style="width: 50px; height: 50px;"></td>
                                                            <td>{{ pull_pet.pet_id.pet_species }}</td>
                                                            <td>{{ pull_pet.pet_id.get_rarity_display }}</td>
                                                            <td>{{ pull.date_created }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Results Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Roll Results</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body roll-results-container">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onClick="location.reload()">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- List Modal -->
        <div class="modal fade" id="dropTableModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Drop Table</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Pet Picture</th>
                                        <th scope="col">Pet Name</th>
                                        <th scope="col">Rarity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in lootbox_drop_table %}
                                    <tr>
                                        <td><img src="{{ item.pet_image.url }}" alt="Pet Photo" class="img-thumbnail" style="width: 50px; height: 50px;"></td>
                                        <td>{{ item.pet_species }}</td>
                                        <td>{{ item.get_rarity_display }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pull History Modal -->
        <div class="modal fade" id="pullHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Pull History</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="background-color: #07092E;">
                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Pet Picture</th>
                                        <th scope="col">Pet Name</th>
                                        <th scope="col">Rarity</th>
                                        <th scope="col">Date Rolled</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pull in lootbox_history %}
                                        {% for pull_pet in pull.pullpet_set.all %}
                                            <tr>
                                                <td><img src="{{ pull_pet.pet_id.pet_image.url }}" alt="Pet Photo" class="img-thumbnail" style="width: 50px; height: 50px;"></td>
                                                <td>{{ pull_pet.pet_id.pet_species }}</td>
                                                <td>{{ pull_pet.pet_id.get_rarity_display }}</td>
                                                <td>{{ pull.date_created }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="lootbox-lower-container">
            <div class="lootbox-global-info">
                <div class="lootbox-moreinfo-title">
                    <i class="bi bi-globe" style="font-size: 2rem;"></i>
                    Global History
                </div>

                <div class="lootbox-moreinfo">
                    <i class="bi bi-cash" style="font-size: 2rem;"></i>
                    <div class="lootbox-moreinfo-item">
                        <span style="font-size:0.7em">Total Spent </span>
                        <span style="font-weight: bold;"> ${{ total_global_spent }} </span>
                    </div>
                </div>

                <div class="lootbox-moreinfo">
                    <i class="bi bi-people-fill" style="font-size: 2rem;"></i>
                    <div class="lootbox-moreinfo-item">
                        <span style="font-size:0.7em">Total Users </span>
                        <span style="font-weight: bold;"> {{ total_users }} </span>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation example" style="align-self: center;justify-content: center;">
                <ul class="pagination" style="background-color:#07092E;">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
            
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
            
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                </ul>
            </nav>

            <div class="lootbox-history-container">
                {% for history in page_obj %}
                <div class="lootbox-history-item">
                    <div class="lootbox-history-profile-image" style="background-image: url('{{ history.get_user_avatar }}');">
                        <!-- Add profile image if available -->
                    </div>

                    <div class="lootbox-history-profile-name">
                        {{ history.user_id.username }}
                    </div>

                    <div class="lootbox-history-profile-roll">
                        x{{ history.roll_info }}
                    </div>

                    <div class="lootbox-history-profile-spent">
                        ${{ history.get_total_spent }}
                    </div>

                    <div class="lootbox-history-profile-date">
                        {{ history.date }}
                    </div>

                    <div class="lootbox-history-profile-obtained">
                        {% for item in history.get_pulled_pets %}
                        <div class="lootbox-history-profile-obtained-item">
                            <img src="{{ item.pet_id.pet_image.url }}" alt="{{ item.pet_id.pet_species }}">
                            <div class="{{ item.pet_id.get_rarity_display|lower }}">★</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <form method="post" style="display: none;">
        {% csrf_token %}
    </form>

    <!-- Insufficient Credit Modal -->
    <div class="modal fade" id="insufficientCreditModal" tabindex="-1" aria-labelledby="insufficientCreditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="insufficientCreditModalLabel">Insufficient Credit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You do not have enough credit to perform this action. Please add more credit to continue.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const creditValueElement = document.getElementById('credit-value');
            const radioButtons = document.querySelectorAll('.btn-check');
            const rollResultsContainer = document.querySelector('.roll-results-container');
    
            // Update button text based on selected radio button
            radioButtons.forEach(radio => {
                radio.addEventListener('change', function() {
                    const credit = this.getAttribute('data-credit');
                    creditValueElement.textContent = `Start ${credit}`;
                });
            });
    
            // Handle the click event on the "Start" button
            creditValueElement.addEventListener('click', function() {
                const selectedRadio = document.querySelector('.btn-check:checked');
                const rolls = parseInt(selectedRadio.getAttribute('data-rolls'), 10);
                const lootboxId = {{ lootbox.lootbox_id }};
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
                fetch(`{% url 'roll_lootbox' lootbox.lootbox_id %}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': csrfToken
                    },
                    body: new URLSearchParams({
                        'rolls': rolls
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        // Show insufficient credit modal
                        const insufficientCreditModal = new bootstrap.Modal(document.getElementById('insufficientCreditModal'));
                        insufficientCreditModal.show();
                    } else {
                        // Clear previous results
                        rollResultsContainer.innerHTML = '';
    
                        // Append new results
                        data.results.forEach(result => {
                            const resultItem = document.createElement('div');
                            resultItem.classList.add('lootbox-featured-item');
                            resultItem.innerHTML = `
                                <div class="pet-info">
                                    <span style="font-size:0.7em;font-weight:light;">${result.rarity}</span>
                                    <span style="font-weight:bold;font-size:1em;">${result.name}</span>
                                </div>
                                <div class="${result.rarity.toLowerCase()}">★</div>
                                <div class = "pet-photo">
                                    <img src="${result.image_url}" alt="Pet Photo">
                                </div>
                            `;
                            rollResultsContainer.appendChild(resultItem);
                        });
    
                        // Show the modal with results
                        const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
                        modal.show();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>

{% endblock %}