{% extends "staff_template.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'staff_dashboard.css' %}"/>
{% endblock %}

{% block title %}
    Staff Dashboard
{% endblock %}

{% block content %}

    <div class = "staff-dashboard-container">
        <div class = "staff-dashboard-activity">
            Global Activity
        </div>

        <div class = "staff-dashboard-statistics">
            <div class =" staff-dashboard-statistics-item">
                <div class = "staff-dashboard-statistics-item-title">
                    Global Sales
                </div>
                <div class = "staff-dashboard-statistics-item-value">
                    100
                </div>
            </div>

            <div class =" staff-dashboard-statistics-item">
                <div class = "staff-dashboard-statistics-item-title">
                    Global Sales
                </div>
                <div class = "staff-dashboard-statistics-item-value">
                    100
                </div>
            </div>

            <div class =" staff-dashboard-statistics-item">
                <div class = "staff-dashboard-statistics-item-title">
                    Global Sales
                </div>
                <div class = "staff-dashboard-statistics-item-value">
                    100
                </div>
            </div>

            <div class =" staff-dashboard-statistics-item">
                <div class = "staff-dashboard-statistics-item-title">
                    Global Sales
                </div>
                <div class = "staff-dashboard-statistics-item-value">
                    100
                </div>
            </div>

            <div class =" staff-dashboard-statistics-item">
                <div class = "staff-dashboard-statistics-item-title">
                    Global Sales
                </div>
                <div class = "staff-dashboard-statistics-item-value">
                    100
                </div>
            </div>

        </div>

        <div class = "staff-dashboard-chats">
            Global Chat
        </div>
    </div>

  
{% endblock %}