@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.sold-items {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
    justify-items: center;
    min-height: 80%;}

.header {
    min-height: inherit;
}

#query {
    background-color: #1A1D45;
    border: 0;
    color: #ffffff;
    height: 50px;
    padding: 1.5rem;
}

#query::placeholder {
    color: #ffffff;
    opacity: 50%;
}

.btn {
    border: 0;
    font-weight: bold;
}

.btn-primary {
    background-color: #272ffe;
}

.modal-content {
    background-color: #1A1D45 !important;
}

.modal-footer {
    border: 0;
}

.form-check label {
    font-size: 19px;
    margin-left: 10px;
}

.form-check {
    display: flex;
    align-items: center;
}

.search-button {
    top: 9px;
    right: 13px;
    width: 70px;
}

.common:hover {
    background-color: #CDCDCD;
    border-color: #07092e !important;
}

.uncommon:hover {
    background-color: #00DD0F;
    border-color: #07092e !important;
}

.rare:hover {
    background-color: #1699D2;
    border-color: #07092e !important;
}

.mythical:hover {
    background-color: #FFD60A;
    border-color: #07092e !important;
}

.legendary:hover {
    background-color: #ED0685;
    border-color: #07092e !important;
}

.rarity_common {
    --color: #CDCDCD;
}

.rarity_uncommon {
    --color: #00DD0F;
}

.rarity_rare {
    --color: #1699D2;
}

.rarity_mythical {
    --color: #FFD60A;
}

.rarity_legendary {
    --color: #ED0685;
}

.common,.uncommon,.rare,.mythical,.legendary {
    transition: 0.15s ease-in-out;
}

.sold-items > a {
    text-decoration: none;
}

.card-transparent:hover .card-img-top {
    filter: drop-shadow(4px 4px 10px rgba(26, 26, 26, 0.5));
}

.price {
    font-family: "Fredoka", sans-serif;
    color: #FFC300;
}

.card-subtitle {
    color: var(--color) !important;
}

.pet-display {
    background: #10163b !important;
}

.pet-display-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pet-display-image {
    display: flex;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("display-platform.png") no-repeat center;
    background-size: 80%;
    background-position-y: -20px;
}

.pet-display-image img {
    height: 200px;
    filter: drop-shadow(4px 4px 23px var(--color));
}

.pet-display-text {
    background-color: #1A1D45;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    gap: 1rem;
}

.pet-display-text > .vr {
    width: 2px;
}

.pet-display-text-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
}

.pet-display-text-grid div {
    align-content: center;
}

.pet-display-text-grid div:nth-child(even) {
    font-weight: bold;
    text-align: left;
}

.pet-display-text-grid div:nth-child(odd) {
    text-align: right;
}

.pet-display-text-grid div:first-child {
    grid-column: span 2;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.pet-display-image img, .pet-image {
    image-rendering: pixelated;
}

.btn-tertiary {
    background-color: #E20B80;
    color: white;
}

.btn-tertiary:hover {
    background-color: #f80e8d;
    color: white;
}