.lootbox-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1em;
}

.lootbox-upper-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40dvh;
    gap: 0.5em;
}

.lootbox-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #07092E;
    border-radius: 10px;
    color: #FDFDFDFD;
    padding: 1em;
    justify-content: space-between;
}

.lootbox-image-container{
    width: 30em;
    height: 100%;
    background-color: #CCCCCC;
    border-radius: 10px;
}

.lootbox-image{
    width: 100%;
    height: 100%;
}

.lootbox-featured-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    color: #FDFDFDFD;
    justify-content: space-evenly;

}

.lootbox-featured-item {
    display: grid;
    grid-template-areas:
        "pet-info star"
        "pet-photo pet-photo";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    width: 10em; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    border: 0.1rem solid #ccc;
    border-radius: 1em;
    padding: 1em;
    overflow: hidden;
    
    
}

.lootbox-featured-item .pet-info {
    grid-area: pet-info;
    align-self: start;
    flex-direction: column;
    display: flex;
    color: #FDFDFDFD;

}

/* .lootbox-featured-item .star-icon {
    grid-area: star;
    font-size: 20px;
    color: gold;
    justify-self: end;
    align-self: start;
} */


.lootbox-featured-item .pet-photo {
    grid-area: pet-photo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.lootbox-interactions-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10dvh;
    gap: 0.5em;
}

.modal-content{
    background-color: #07092E;
}

.pull-btn-group{
    margin-left: auto;
}

.lootbox-lower-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60dvh;
    gap: 1em;
    
}

.lootbox-global-info{
    padding: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 6dvh;
    background-color: #07092E;
    border-radius: 10px;
    color: #fdfdfd;
}

.lootbox-moreinfo-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.lootbox-moreinfo{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8dvw;
    height: 100%;
    gap: 0.5em;
    background-color: #1A1D45;
    border-radius: 10px;
    margin-right: 1em;
    
}

.lootbox-moreinfo-title{
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    gap: 0.5em;
}

.lootbox-history-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    border-radius: 10px;
    color: #FDFDFDFD;
    padding: 1em;
    overflow-y: auto; /* Enable vertical scrolling */
}

.lootbox-history-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 8dvh;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1rem;
    margin-bottom: 0.5em;
    border-color: #FDFDFDFD;
    padding: 0.5rem;
    gap: 5em;
}

.lootbox-history-profile-image{
    width: 4dvh;
    height: 4dvh;
    border-radius: 50%;
    background-color: #FDFDFDFD;
}

.lootbox-history-profile-obtained{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: 100%;
    /* background-color: #FDFD1FDFD; */
    border-radius: 10px;
    margin-left: auto;
    gap: 0.5em;
}

.lootbox-history-profile-obtained-item{
    width: 4.5dvh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.lootbox-history-profile-obtained-item img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}




.pagination > .page-item > .page-link {
    background-color: #1A1D45;
    color: #FDFDFDFD;
    border: 1px solid #1a1a1a;
}

.lootbox-history-profile-date{
    color: #CCCCCC
}

.roll-results-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table {
    background-color: #07092E;
}

.table > thead > tr > th {
    color: #FDFDFDFD;
    background-color: #07092E;
}

.table > tbody > tr > td {
    color: #FDFDFDFD;
    background-color: #07092E;
}